.c1 {
  position: absolute;
  bottom: 0;
  left: -12%;
  width: 0;
	height: 0;
	border-left: 15vw solid transparent;
	border-right: 15vw solid transparent;
	border-bottom: 40vh solid #455A64;
}

.c2 {
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 0;
	height: 0;
	border-left: 20vw solid transparent;
	border-right: 20vw solid transparent;
	border-bottom: 60vh solid #455A64;
}

.c3 {
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 0;
	height: 0;
	border-left: 30vw solid transparent;
	border-right: 30vw solid transparent;
	border-bottom: 40vh solid #455A64;
}

.c4 {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
	height: 0;
	border-left: 10vw solid transparent;
	border-right: 10vw solid transparent;
	border-bottom: 50vh solid #455A64;
}

.c5 {
  position: absolute;
  bottom: 0;
  left: 55%;
  width: 0;
	height: 0;
	border-left: 20vw solid transparent;
	border-right: 20vw solid transparent;
	border-bottom: 40vh solid #455A64;
}

.c6 {
  position: absolute;
  bottom: 0;
  left: 80%;
  width: 0;
	height: 0;
	border-left: 15vw solid transparent;
	border-right: 15vw solid transparent;
	border-bottom: 70vh solid #455A64;
}
