.a1 {
  position: absolute;
  bottom: 20vh;
  left: -12%;
  width: 0;
	height: 0;
	border-left: 15vw solid transparent;
	border-right: 15vw solid transparent;
	border-bottom: 40vh solid #263238;
}

.a2 {
  position: absolute;
  bottom: 20vh;
  left: 0%;
  width: 0;
	height: 0;
	border-left: 20vw solid transparent;
	border-right: 20vw solid transparent;
	border-bottom: 60vh solid #263238;
}

.a3 {
  position: absolute;
  bottom: 20vh;
  left: 10%;
  width: 0;
	height: 0;
	border-left: 30vw solid transparent;
	border-right: 30vw solid transparent;
	border-bottom: 40vh solid #263238;
}

.a4 {
  position: absolute;
  bottom: 20vh;
  left: 50%;
  width: 0;
	height: 0;
	border-left: 10vw solid transparent;
	border-right: 10vw solid transparent;
	border-bottom: 50vh solid #263238;
}

.a5 {
  position: absolute;
  bottom: 20vh;
  left: 55%;
  width: 0;
	height: 0;
	border-left: 20vw solid transparent;
	border-right: 20vw solid transparent;
	border-bottom: 40vh solid #263238;
}

.a6 {
  position: absolute;
  bottom: 20vh;
  left: 80%;
  width: 0;
	height: 0;
	border-left: 15vw solid transparent;
	border-right: 15vw solid transparent;
	border-bottom: 70vh solid #263238;
}
