.a1 {
  position: fixed;
  bottom: 0;
  left: -12%;
  width: 0;
	height: 0;
	border-left: 15vw solid transparent;
	border-right: 15vw solid transparent;
	border-bottom: 40vh solid gray;
}

.a2 {
  position: fixed;
  bottom: 0;
  left: 0%;
  width: 0;
	height: 0;
	border-left: 20vw solid transparent;
	border-right: 20vw solid transparent;
	border-bottom: 60vh solid gray;
}

.a3 {
  position: fixed;
  bottom: 0;
  left: 10%;
  width: 0;
	height: 0;
	border-left: 30vw solid transparent;
	border-right: 30vw solid transparent;
	border-bottom: 40vh solid gray;
}

.a4 {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 0;
	height: 0;
	border-left: 10vw solid transparent;
	border-right: 10vw solid transparent;
	border-bottom: 50vh solid gray;
}

.a5 {
  position: fixed;
  bottom: 0;
  left: 55%;
  width: 0;
	height: 0;
	border-left: 20vw solid transparent;
	border-right: 20vw solid transparent;
	border-bottom: 40vh solid gray;
}

.a6 {
  position: fixed;
  bottom: 0;
  left: 80%;
  width: 0;
	height: 0;
	border-left: 15vw solid transparent;
	border-right: 15vw solid transparent;
	border-bottom: 70vh solid gray;
}
